<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Management</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />

    <script src="lib/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.4/angular-translate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="lib/angular-spinner/dist/angular-spinner.min.js"></script>

    <script src="app.module.js"></script>
    <script src="config.dev.js"></script>
    <script src="app.config.js"></script>

    <script src="login/login.module.js"></script>
    <script src="login/login.component.js"></script>

    <script src="home/home.module.js"></script>
    <script src="home/home.component.js"></script>
    <script src="home/action-bar/action-bar.component.js"></script>
    <script src="home/info-bar/info-bar.component.js"></script>

    <script src="play/play.module.js"></script>
    <script src="play/play.component.js"></script>

    <script src="add/add.module.js"></script>
    <script src="add/add.component.js"></script>

    <script src="directives/modal/modal.directive.js"></script>

    <script src="core/auth.service.js"></script>
    <script src="core/home.service.js"></script>
    <script src="core/add.service.js"></script>
    <script src="core/play.service.js"></script>
  </head>
  <body ng-app="MusicManagement" ng-controller="LangController">
    <div>
      <div class="span12">
        <div class="span5 offset9" >
          <button class="span1">
            <a ng-click="logout()" href="#!/login">
              <i class="icon-user"></i>
            </a>
          </button>
          <div class="btn-group span1">
            <button class="dropdown-toggle" data-toggle="dropdown">
              {{'LANG' | translate}}
            </button>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
              <li ng-click="changeLanguage('en')">English</li>
              <li ng-click="changeLanguage('vi')">Tiếng Việt</li>
            </ul>
          </div>
        </div>
        <div ng-view class="container"></div>
      </div>
    </div>
  </body>
</html>
